<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>218017064330-eje1g91eb1ev5ki8tmtopecan742hoq6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.218017064330-eje1g91eb1ev5ki8tmtopecan742hoq6</string>
	<key>API_KEY</key>
	<string>AIzaSyDUv5u1RqXliU9ZFr7720jFBvqu_C3oTW0</string>
	<key>GCM_SENDER_ID</key>
	<string>218017064330</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yuricavallin.yourgoal</string>
	<key>PROJECT_ID</key>
	<string>timetogoal-63c32</string>
	<key>STORAGE_BUCKET</key>
	<string>timetogoal-63c32.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:218017064330:ios:5f3af04a5e15a1a75f1473</string>
</dict>
</plist>